div.sexy-wrap {
	max-width: 680px;
	font-weight: normal;
	font-family:arial, sans-serif;
	font-size:14px;
	padding-left: 18px;
}
h2.sexy {
	padding-left: 18px;
	background: url('../images/sexy-icon.png') no-repeat left 3px;
	font-family:georgia, serif;
	font-weight:normal;
	font-size:22px;
	font-style:italic;
}
.sexy-wrap fieldset {
	margin-top: 20px;
	padding: 0 18px 18px 18px;
	border: 1px dotted #666;
	clear: both;
}
.sexy-wrap fieldset legend {
	font-size: 18px;
	background: #f9f9f9;
}
.sexy_option {
	display: block;
	margin-top: 12px;
	font-weight: bold;
}
.iconator label {
	background-image: url('../images/sexy-sprite.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
	float: left;
	margin: 12px 2px;
	cursor: move;
	text-align: center;
}
.iconator label input {
	margin-top: 30px;
}
#clearShortUrlsLabel {
	font-size: 11px;
	height: 14px;
	line-height: 14px;
}
#clearShortUrls {
	margin-right: 4px;
}
.share-sexy {
	background:url('../images/sexy-trans.png') no-repeat 0 -141px;
}
.share-care {
	background:url('../images/sexy-trans.png') no-repeat 0 0;
}
.share-wealth {
	background:url('../images/sexy-trans.png') no-repeat 0 bottom;
	padding:50px 0 0 25px !important;
}
.bgimg {
	display:block;
	width: 195px;
	float: left;
	padding:50px 0 0 10px;
	margin:10px 0 0 0;
}
.hidden {
	display:none;
}
#xtrastyle {
	width: 100%;
	height: 120px;
}
.sexy-donations {
	width: 240px;
	background: #fdd;
	margin: 20px 0;
	padding: 18px;
	border: 1px dotted #666;
	text-align: center;
}
.sexy-donations p {
	text-align: left;
}
.sexy-donations h2 { 
	margin-top: 0;
}
.sexy-errors {
	background:transparent url('../images/error-right.png') no-repeat scroll right top;
	float:left;
	height:71px;
	margin:15px 0 -15px 0;
	padding:0 14px 0 0;
	position:relative;
	left:40px;
}
.sexy-errors p {
	background:transparent url('../images/error-left.png') no-repeat scroll left top;
	color:#101010;
	font-family:corbel,verdana,sans-serif;
	font-size:1.1em;
	height:71px;
	line-height:46px;
	margin:0 0 0 -43px;
	padding:0 10px 0 50px;
}
.sexy-errors p a {
	color:#990000;
	text-decoration:underline;
	font-weight:bold;
	font-style:italic;
	font-size:1.2em;
}
.sexy-infos {
	background:transparent url('../images/info-right.png') no-repeat scroll right top;
	float:left;
	height:71px;
	margin:15px 0 -15px 0;
	padding:0 14px 0 0;
	position:relative;
	left:40px;
}
.sexy-infos p {
	background:transparent url('../images/info-left.png') no-repeat scroll left top;
	color:#101010;
	font-family:corbel,verdana,sans-serif;
	font-size:1.1em;
	height:71px;
	line-height:46px;
	margin:0 0 0 -43px;
	padding:0 10px 0 50px;
}
.sexy-infos p a {
	color:#4a8eef;
	text-decoration:underline;
	font-weight:bold;
	font-style:italic;
	font-size:1.2em;
}
.sexy-warning {
	background:transparent url('../images/warn-right.png') no-repeat scroll right top;
	float:left;
	height:71px;
	margin:15px 0 -15px 0;
	padding:0 14px 0 0;
	position:relative;
	left:40px;
}
.sexy-warning p {
	background:transparent url('../images/warn-left.png') no-repeat scroll left top;
	color:#101010;
	font-family:corbel,verdana,sans-serif;
	font-size:1.1em;
	height:71px;
	line-height:46px;
	margin:0 0 0 -43px;
	padding:0 10px 0 50px;
}

label.sexy-newsvine {
	background-position:left top;
}
label.sexy-linkedin {
	background-position:-70px top;
}
label.sexy-devmarks {
	background-position:-140px top;
}
label.sexy-google {
	background-position:-210px top;
}
label.sexy-scriptstyle {
	background-position:-280px top;
}
label.sexy-mail {
	background-position:-350px top;
}
label.sexy-comfeed {
	background-position:-420px top;
}
label.sexy-twitter {
	background-position:-490px top;
}
label.sexy-technorati {
	background-position:-560px top;
}
label.sexy-stumbleupon {
	background-position:-630px top;
}
label.sexy-reddit {
	background-position:-700px top;
}
label.sexy-myspace {
	background-position:-770px top;
}
label.sexy-mixx {
	background-position:-840px top;
}
label.sexy-diigo {
	background-position:-910px top;
}
label.sexy-digg {
	background-position:-980px top;
}
label.sexy-designfloat {
	background-position:-1050px top;
}
label.sexy-yahoobuzz {
	background-position:-1120px top;
}
label.sexy-delicious {
	background-position:-1190px top;
}
label.sexy-blinklist {
	background-position:-1260px top;
}
label.sexy-facebook {
	background-position:-1330px top;
}
label.sexy-misterwong {
	background-position:-1400px top;
}
label.sexy-izeby {
	background-position:-1470px top;
}
label.sexy-tumblr {
	background-position:-1540px top;
}
label.sexy-tipd {
	background-position:-1610px top;
}
label.sexy-pfbuzz {
	background-position:-1680px top;
}
.clear {
	clear: both;
}